
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Aerolínea</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css)" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace=""layout/>plantilla :: header/>
        <div class="contenido"> 
            <h2>Nuestros Boletos </h2>
            <div th:if="${boletos !=null and !boletos.empty}">
            <br/>
            <table border="1">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>País Destino</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item :${boletos}">
                        <td th:text= "${item.descripcion}"></td>
                        <td th:text= "${#numbers.formatDecimal(item.precio, 3, 2)}"></td>
                        <td><a th:href="@{/carrito/agregar/}+ ${item.idBoletos}">Agregar</a></td>  
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            No tenemos lista de boletos que mostrar...
        </div>
    </div> 
    <footer th:replace="layout/plantilla :: footer"/>  
</body>
</html>
